/*
CSS by Lolita Halper
Class: GIT 414
Spring Semester Session B
April 9th, 2024
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
    blockquote, q {
        quotes: none;
    }
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --lt-gray: #eaeaea;
    --dk-gray: #222;
    --black:#000;
    --white: #fff;
    --gray-teal: #b3ced5;
    --body-font: "Montserrat", sans-serif;
    --h1-h2-h3: "Molle", cursive;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--gray-teal);
}

/*---SKIP LINK---*/
    
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/*---BODY STYLES---*/

body {
    width: 414px;
    color: var(--dk-gray);
    background-color: var(--white);
    margin: 0 auto;
    font-family: var(--body-font);
    line-height: 1.35;
}
/*---HEADING STYLES---*/

h1, h2, h3 {
    font-family: var(--h1-h2-h3);
    padding: 0 1rem;
    padding-top: 1rem;
}
h1 {
    font-size: 3.125rem;
}
h2 {
    font-size: 2.50rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-family: var(--body-font);
    font-size: 1.35rem;
    font-weight: 600;
    text-transform: uppercase;
}
p {
    padding: 0 1rem;
}

/*---HEADER STYLES---*/
header {
    background-image: linear-gradient(to bottom, rgba(85,188,213,100),rgba(255,255,255,100));
    /*display: flex;
    flex-wrap: wrap;*/
    align-items: center;
    width: 100%;
    margin: 0;
}
header img {
    width: 80%;
}
header p {
    font-size: 1.25rem;
}
header #logo {
    float: left;
}

/*---HIDDEN HEADING STYLES---*/

.sr-only {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}

/*---NAV STYLES---*/

header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: var(--teal);
z-index: 3;
max-height: 0;
transition: max-height 0.2s ease-out;
position: absolute;
top: 0;
margin-top: 29px;
width: 414px;
}
header ul a {
display: block;
padding: 20px;
text-decoration: none;
border-bottom: 1px solid #222;
text-transform: uppercase;
font-size: 1rem;
color: var(--dk-gray);
}
nav ul a:hover {
background-color: var(--lt-gray);
}
header label {
position: relative;
padding: 1rem 3rem;
cursor: pointer;
background-color:var(--yellow);
top: -13rem;
float: right;
}
header #toggle {
display: none;
}
header #toggle:checked ~ ul {
max-height: 340px;
}
header #toggle:checked ~ label {
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
}


/*---INTRO STYLES---*/

#intro {
position: relative;
}
#intro p {
    line-height: 1.75rem;
    padding-bottom: 0.75rem;
}
#img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
#intro img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0.5rem;
}
#intro picture img {
    height: vh100;
}



/*---PLAN STYLES---*/

#plan {
    background-color: var(--yellow);
    margin-top: 1rem;
    padding: 0 2rem 0.5rem 2rem;
}
#plan section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--teal);  
    border-radius: 0.75rem;
    border: solid #fff 4px;
    margin: 0.75rem 0;
    height: 25vh;
    padding-top: 1rem;
}
#plan img {
    width: 90%;
}

/*---TESTIMONIAL STYLES---*/

blockquote, q {
    quotes: "";
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '\201C';
content: '\201D';
}
#testimonials div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 0 5rem;
}
#testimonials section {
    text-align: center;
}
q {
    font-family: var(--body-font);
    font-size: 1rem;
    font-style: italic;
}

/*---ABOUT STYLES---*/

#about {
    background-color: var(--blue);
    margin-top: 1rem
}
#about div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
#about img {
    height: 5rem;
}
#about h3 {
    padding-bottom: 12px;
}
#about section {
    padding-bottom: 20px;
}

/*---FORM STYLES---*/

.form-required {
    font-family: var(--body-font);
    font-size: 1rem;
}
form div {
    display: grid;
    grid-template-columns: 1fr;
}
.required {
    display: inline-block;
    color: var(--purple);
    font-size: 1.1em;
}
form {
    display: grid;
	width: 382px;
	padding: 1em;
	margin: 0 auto;
	color:var(--dk-gray);
	font-size: 1.1em;
}
input, label, fieldset {
    display: block;
}

/*----RADIO BUTTONS----*/

input[type='radio'] {
    height: 1;
    width: 2.5em;
    margin-top: 0.5rem;
    appearance: none;
    font: inherit;
    color: #9B26B0;
    border: 0.15em solid #9B26B0;
    border-radius: 50%;
    transform: translateY(-0.075em);
}
.radio-control + .radio-control {
    margin-top: 1em;
  }
  input[type="radio"]::before {
    content: "";
    width: 0.01em;
    height: 0.1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--purple);
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
input[type='radio']:checked {
    background-color: var(--purple);
}
input[type="radio"]:focus {
    outline: max(3px, 0.15em) solid #9B26B0;
    outline-offset: max(3px, 0.15em);
  }
/*----RADIO BUTTONS END----*/

input, fieldset, select {
    font-size: 1em;
	border: 2px solid #9B26B0;
    padding: 20px 15px;
    margin-bottom: 10px;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
fieldset label {
    display: flex;
    align-items: center;
    gap: 1rem;
}
legend {
	font-weight: 600;
    text-transform: uppercase;
}
#mySubmit {
    background-color: var(--purple);
    text-transform: uppercase;
    color: var(--white);
}

/*---FOOTER STYLES---*/

footer {
    background-color: var(--lt-gray);
    text-align: center;
    line-height: 3rem;
}
footer a {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--dk-gray);
}