/*
CSS by Lolita Halper
Class: GIT 414
Spring Semester Session B
April 9th, 2024
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*    blockquote, q {
        quotes: none;
    }
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --lt-gray: #eaeaea;
    --dk-gray: #222;
    --black:#000;
    --white: #fff;
    --body-font: "Montserrat", sans-serif;
    --h1-h2-h3: "Molle", cursive;
}

/* ---SKIP LINK STYLE--- */

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/*---BODY STYLES---*/

body {
    font-family: var(--body-font);
    line-height: 1.5;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width:428px;
}
Header {
    background-image: linear-gradient(to bottom, rgba(85,188,213,100),rgba(255,255,255,0));
    width: calc(100%);
}
header p {
    font-size: 1.25rem;
    padding: 0 1.75rem;
}
nav h2 {

}
h1, h2, h3 {
    font-family: var(--h1-h2-h3);
    padding: 1rem 1.75rem 0 1.75rem;
}
h1 {
    font-size: 3.125rem;
}
h2 {
    font-size: 2.75rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-family: var(--body-font);
    font-size: 1.625rem;
    font-weight: 600;
    text-transform: uppercase;
}
q {
    font-family: var(--body-font);
    font-size: 1rem;
    font-style: italic;
}
#intro h2 {
    font-size: 2.5rem;
}
#intro p {
    font-size: 1rem;
    line-height: 1.875rem;
    padding: 0.625rem 1.75rem;
}
#intro img {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#plan {
    background-color: var(--yellow);
    display: grid;
}
#plan section {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    background-color: var(--teal);  
    border-radius: 10px;
    border: solid #fff 3px;
    margin: 35px;
    padding: 35px; 
}
#plan h4 {
padding-bottom: 20px;
}
#testimonials {
    display: grid;
    gap: 10px;
    
}
#testimonials section {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    text-align: center;
    padding-bottom: 20px;
}
#about {
    background-color: var(--blue);
}
#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    text-align: center;
    padding-bottom: 20px;
}
#about img {
    width: 25%;
}
#about h3 {
    padding-bottom: 12px;
}





